[Desktop Entry]
GenericName=ROS Launch
Comment=Provides the required nodes for running ROS
Icon=/home/moverobotic-01/catkin_ws/src/moverobotic_mk1/resourse/moverobotic_teleop.jpg
Keywords=Science;Education;Robotics;Robot;
Exec=catkin_ws/src/moverobotic_mk1/sh/moverobotic_teleop_mk1.sh
Path=
Terminal=true
MimeType=application/x-ros-launch;
Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
Name[en_US]=teleop.desktop
